<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khyati.framelayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.login" />
        <activity android:name=".activity.log1" />
        <activity android:name=".main" />
        <activity android:name=".activity.registration1" />
        <activity android:name=".activity.forget_password" />
        <activity android:name=".sub_cat_gold" />
        <activity android:name=".sub_cat_shakti" />
        <activity android:name=".sub_cat_taza" />
        <activity android:name=".sub_cat_teaspacial" />
        <activity android:name=".sub_cat_diamond" />
        <activity android:name=".sub_cat_moti" />
        <activity android:name=".sub_cat_slim_trim" />
        <activity android:name=".sub_cat_chaimaza" />
        <activity android:name=".sub_cat_deshi" />
        <activity android:name=".sub_cat_cow_milk" />
        <activity android:name=".listofproducts_adapter" />
        <activity android:name=".list_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cartdesign" />
        <activity android:name=".abc"></activity>
    </application>

</manifest>